name: Pylint

on: [push]

jobs:
  static-analysis:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pylint
        pip install black
    - name: Blackened
      run: |
        black src/ --check
        black tests/ --check
      
    - name: Analysing the code with pylint
      run: |
        pylint src --rcfile .pylintrc
        pylint tests --rcfile ./tests/.pylintrc 
